    body{
        max-width: 650px;
    }
    .top{
        text-align: right; 
    }
    .font{
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
    }
    span{
        font-style: italic;
    }
    .main{
        text-indent: 25px;
        text-decoration: underline; 
        font-size: 20px; 
        font-weight: 900;
    }
    .style{
        text-indent: 25px;
        text-align: justify;
        font-family: 'Bad Script', cursive;
    }
    .bottom{
        text-align: left;
    }

